/* Wallust Colors */
@import "wallust/colors-waybar.css";

* {
  border: none;
  border-radius: 0;
  font-family: "JetBrains Mono Nerd Font";
  font-size: 13px;
  min-height: 0;
}

window#waybar {
  background: @base;
  color: @text;
}

#workspaces button {
  padding: 0 5px;
  background: transparent;
  color: @subtext0;
}

#workspaces button.active {
  color: @lavender;
  border-bottom: 2px solid @lavender;
}

#clock,
#battery,
#cpu,
#temperature,
#network,
#cpu,
#temperature,
#network,
#tray,
#custom-power {
  padding: 0 10px;
  margin: 0 4px;
  background: transparent;
  color: @text;
}

#clock {
  color: @mauve;
}

#network {
  color: @sapphire;
}

#battery {
  color: @green;
}

#battery.warning {
  color: @yellow;
}

#battery.critical {
  color: @red;
}

#cpu {
  color: @blue;
}

#temperature {
  color: @teal;
}

#temperature.critical {
  color: @red;
}

#tray {
  background-color: @surface0;
  border-radius: 15px;
  padding: 0 10px;
}

#custom-power {
  color: @red;
  margin-right: 15px;
}
