/* Wallust Colors */
@import "wallust/colors-waybar.css";

* {
  border: none;
  border-radius: 0;
  font-family: "JetBrains Mono Nerd Font";
  font-size: 13px;
  min-height: 0;
}

@define-color base   @background;
@define-color mantle @color0;
@define-color crust  @color0;

@define-color text     @foreground;
@define-color subtext0 @color7;
@define-color subtext1 @color7;

@define-color surface0 @color1;
@define-color surface1 @color2;
@define-color surface2 @color3;

@define-color overlay0 @color4;
@define-color overlay1 @color5;
@define-color overlay2 @color6;

@define-color blue      @color4;
@define-color lavender  @color6;
@define-color sapphire  @color5;
@define-color sky       @color5;
@define-color teal      @color6;
@define-color green     @color2;
@define-color yellow    @color3;
@define-color peach     @color3;
@define-color maroon    @color1;
@define-color red       @color1;
@define-color mauve     @color5;
@define-color pink      @color5;
@define-color flamingo  @color1;
@define-color rosewater @color6;

#workspaces button {
  padding: 0 5px;
  background: transparent;
  color: @subtext0;
}

#workspaces button.active {
  color: @lavender;
  border-bottom: 2px solid @lavender;
}

#clock,
#battery,
#cpu,
#temperature,
#network,
#cpu,
#temperature,
#network,
#tray,
#custom-power {
  padding: 0 10px;
  margin: 0 4px;
  background: transparent;
  color: @text;
}

#clock {
  color: @mauve;
}

#network {
  color: @sapphire;
}

#battery {
  color: @green;
}

#battery.warning {
  color: @yellow;
}

#battery.critical {
  color: @red;
}

#cpu {
  color: @blue;
}

#temperature {
  color: @teal;
}

#temperature.critical {
  color: @red;
}

#tray {
  background-color: @surface0;
  border-radius: 15px;
  padding: 0 10px;
}

#custom-power {
  color: @red;
  margin-right: 15px;
}
