/* Catppuccin Mocha Palette */
@define-color base   #1e1e2e;
@define-color mantle #181825;
@define-color crust  #11111b;
@define-color text     #cdd6f4;
@define-color surface0 #313244;
@define-color surface1 #45475a;

window {
  background-color: rgba(0, 0, 0, 0.8);
}

button {
  background-color: @surface0;
  color: @text;
  border: 2px solid @base;
  border-radius: 20px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 25%;
  margin: 10px;
  transition: box-shadow 0.2s ease-in-out, background-color 0.2s ease-in-out;
}

button:hover {
  background-color: @surface1;
  box-shadow: 0 0 10px 0 @text;
}

button:focus {
  background-color: @surface1;
  color: @text;
}

#lock {
  background-image: image(url("/usr/share/wlogout/icons/lock.png"));
}

#logout {
  background-image: image(url("/usr/share/wlogout/icons/logout.png"));
}

#suspend {
  background-image: image(url("/usr/share/wlogout/icons/suspend.png"));
}

#hibernate {
  background-image: image(url("/usr/share/wlogout/icons/hibernate.png"));
}

#reboot {
  background-image: image(url("/usr/share/wlogout/icons/reboot.png"));
}

#shutdown {
  background-image: image(url("/usr/share/wlogout/icons/shutdown.png"));
}
