@import url("mocha.css");

* {
  font-family: "JetBrainsMono Nerd Font";
}

.control-center .notification-row:focus,
.control-center .notification-row:hover {
  opacity: 1;
  background: @surface0;
}

.notification-row {
  outline: none;
  margin: 8px;
  padding: 0;
}

.notification {
  background: transparent;
  margin: 0px;
}

.notification-content {
  background: @base;
  padding: 14px;
  border-radius: 14px;
  border: 2px solid @surface1;
  margin: 0;
}

.close-button {
  background: @surface1;
  color: @text;
  text-shadow: none;
  padding: 0;
  border-radius: 8px;
  margin-top: 8px;
  margin-right: 8px;
}

.close-button:hover {
  background: @red;
  color: @crust;
  transition: all 0.15s ease-in-out;
  border: none;
}

.notification-action {
  border: 2px solid @surface1;
  border-top: none;
  border-radius: 0 0 14px 14px;
}

.notification-default-action {
  margin: 0;
  padding: 0;
  border-radius: 14px;
}

.notification-default-action:hover,
.notification-action:hover {
  color: @text;
  background: @surface0;
}

.summary {
  font-size: 16px;
  font-weight: 900;
  color: @text;
}

.time {
  font-size: 14px;
  font-weight: bold;
  color: @subtext0;
  margin-right: 24px;
}

.body {
  font-size: 14px;
  font-weight: normal;
  color: @subtext1;
  margin-top: 4px;
}

.control-center {
  background: @crust;
  border: 2px solid @surface1;
  border-radius: 16px;
}

.control-center-list {
  background: transparent;
}

.control-center-list-placeholder {
  opacity: 1;
  color: @overlay0;
  font-size: 18px;
}

.floating-notifications {
  background: transparent;
}

.blank-window {
  background: transparent;
}

.widget-title {
  color: @text;
  background: @base;
  padding: 12px;
  margin: 12px;
  font-size: 20px;
  border-radius: 14px;
  border: 2px solid @surface1;
}

.widget-title > button {
  font-size: 14px;
  color: @text;
  text-shadow: none;
  background: @surface1;
  box-shadow: none;
  border-radius: 10px;
  padding: 4px 12px;
}

.widget-title > button:hover {
  background: @red;
  color: @crust;
}

.widget-dnd {
  background: @base;
  padding: 12px;
  margin: 12px;
  border-radius: 14px;
  border: 2px solid @surface1;
  font-size: 16px;
  color: @text;
}

.widget-dnd > switch {
  font-size: 14px;
  border-radius: 10px;
  background: @surface1;
  color: @text;
  box-shadow: none;
}

.widget-dnd > switch:checked {
  background: @blue;
}

.widget-dnd > switch slider {
  background: @text;
  border-radius: 8px;
}
